rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /establishments/{docId} {
      allow read, write: if true;
    }
    match /categories/{docId} {
      allow read, write: if true;
    }
    match /menuItems/{docId} {
      allow read, write: if true;
    }
    match /tables/{docId} {
      allow read, write: if true;
    }
    match /orders/{docId} {
      allow read, write: if true;
    }
  }
}

